.wrapper{
  font-family: 'poppins', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: max-content;
  list-style: none;
  z-index: 50;
}

.wrappertwo{
 background:rgba(255,255,255, .1); 
 backdrop-filter: blur(6px);
 border-left: 2px solid rgba(255,255,255,.2);
 align-items: center;
 justify-content: center;
 padding: 20px;
 border-radius: 30px;
 margin-right: 25px;
 margin-top: 15rem ;
}

.wrapper .texticonwrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px 3px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.60,-0.55,0.265,1.55);
}

.texticonwrapper .icon {
  -webkit-text-stroke: 1px #fff;
}

/* Navbar text */
.wrapper .text {
  position: absolute;
  top: 0;
  font-size:0.8rem;
  background: #fff; 
  color: black;
  padding: 5px 8px;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(247, 243, 243, 0.1);
   opacity: 0;
  pointer-events:none;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .texticonwrapper:hover .text {
 transform: translateX(-3rem);
 opacity: 1;
 visibility: visible;
 pointer-events: auto;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
}

.linkactive {
 color: rgb(241, 16, 16);
}

@media screen and (max-width:1280px) {
  .wrappertwo{
    position: fixed;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    bottom: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 0px;
    border-radius: 0px;
    border-top: 2px solid rgba(255,255,255,.2);
  }

  .wrapper .texticonwrapper:hover .text {
    transform: translateY(-1.2rem);
  }
}