.image {
  animation: spin 10s linear infinite;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imglink {
  z-index: 50;
  position: relative;
}

.arrow {
  font-size: 36px;
  color: rgb(233, 228, 228);
  position:absolute;
  right:50px;
  bottom: 60px;
}