.image {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imglink {
  z-index: 50;
  position: relative;
}

.arrow {
  font-size: 38px;
  color: rgb(211, 208, 208);
  position:absolute;
  right:50px;
  bottom: 60px;
}

/* @media screen and (max-width:800px){
  .imglink {

  }
} */