.slider {
  /* max-height:fit-content; */
  z-index: 50;
 }

 .swiperimage {
  display: grid;
  grid-template-columns: repeat(2,minmax(180px,1fr));
  grid-auto-rows: 180px;
  /* grid-auto-flow: dense; */
  grid-gap:8px;
  cursor: pointer;
 }

 .swiperimage .swiperimagetwo {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .swiperimage .swiperimagethree {
   display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
 }

 .overlay {
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(to left,transparent, #e838cc , #4a22bd);
  opacity: 0;
  transition: all;
  transition-duration: 700ms;
 }

 .overlay:hover {
  opacity: 80;
 }

 .textcontainer{
  position: absolute;
  margin-top: 35%;
  margin-left: 40%;
 }

 .textwrapper {
  display: flex;
 }

 .text {
  margin-right: 4px;
 }

 @media screen and (max-width:1280px){
  .textcontainer{
    /* position: absolute; */
    top: 10%;
    right: 30%;
   }
   .swiperimage {
    display: grid;
    grid-template-columns: repeat(2,minmax(130px,1fr));
    grid-auto-rows: 130px;
   }
 }
 @media screen and (max-width:600px){
  .swiperimage {
    display: grid;
    grid-template-columns: repeat(2,minmax(110px,1fr));
    grid-auto-rows: 110px;
   }
 }

 @media screen and (max-width:400px){
  .textcontainer{
    /* position: absolute; */
    top: 30%;
    right: 10%;
   }
   .swiperimage {
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    grid-auto-rows: 100px;
   }
  
 }
  
