.maincontainer{
 height:100%;
 background: #6231af, "primary";
 margin-top: 15rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.secondcontainer{
 display: flex;
 column-gap: 4rem;
}

.servicecontainer{
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  text-align: center;
  margin-bottom: 3rem;
}

.paragraph{
 margin-bottom: 10px;
 max-width: 400px;
 margin-left: auto; /* 176px */
 margin-right: auto; /* 176px */
 color: rgb(172, 169, 168);
}

.H2{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text{
  color: #e11d48; 
} 

.serviceslider {
  width:780px;
  
}

@media screen and (max-width:1224px){
  .secondcontainer {
    display: flex;
    flex-direction:column;
  }
}

@media screen and (max-width:800px){
  .serviceslider{
    width:600px ;
  }
  .maincontainer {
    margin-top: 10rem;
  }
}
@media screen and (max-width:600px){
  .serviceslider{
    width:450px ;
  }

  .H2{
    font-size: 2rem;
  }
  .paragraph {
    max-width: 300px;
  }
}

@media screen and (max-width:450px){
  .serviceslider{
    width:350px ;
  }
}

@media screen and (max-width:375px){
  .serviceslider{
    width:300px ;
  }
}